<%=stylesheet_link_tag "stylesheet.css"%>
<link href='https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300|Shadows+Into+Light' rel='stylesheet' type='text/css'/>


<h1>Hi/Lo Game</h1>
<body>
  The secret number is: <%=cookies[:randomnumber]%>
  </br>
  Your guess is:  <%=@results_string%>
  </br>
  The number you guessed is: <%=@guess%>
</body>
